<% include _header %>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p>Esta vista es de la página principal</p>
    <h2>Lista de zombies</h2>
    <table class="table table-danger">
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        <%
      if(coleccion)
      {
        coleccion.forEach(function(zombie)
        {%>
            <tr>
                <td>
                    <%= zombie.name %>
                </td>
                <td>
                    <%= zombie.email %>
                </td>
                <td>
                    <%= zombie.type %>
                </td>
            </tr>
            <%
          }); } 
          
          %>

    </table>
    <% include _footer %>